* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background: #373B44;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44);

}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;

}

.caja__trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: right;
    background-color: #0197fc;
    border-radius: 20px;

}

.caja__trasera div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.logo-login {
    width: 300px;
    /* Establecer el ancho en 300 píxeles */
    height: 150px;
}

/*Formularios*/
.contenedor___login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);

}

.contenedor___login-register form {
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.contenedor___login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}


.contenedor___login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor___login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    color: white;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.formulario__login {
    opacity: 1;
    display: block;
}

.formulario__register {
    display: none;
}

.password-info {
    font-size: 12px;
    /* Tamaño más pequeño */
    color: #999;
    /* Color más tenue */
}

/*Trabajando en el responsive Design*/

@media screen and (max-width: 850px) {

    main {
        margin-top: 50px;
    }

    .caja__trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div {
        margin: 0px;
        position: absolute;
    }

    /*Formulario*/
    .contenedor___login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor___login-register form {
        position: relative;
    }
}