body {
    background-image: url("../img/ADN.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.nav {
    background-color: #dcfeff;
    width: 30%;
    
}

h6{
    text-decoration: line-through;
}



.container {
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    background-color: #e8f8fb;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.centered-text {
    text-align: center;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.carousel {
    overflow: hidden;
    margin: 20px 0;
}

.slide {
    display: none;
    padding: 10px;
}

.slide-content {
    font-size: 18px;
    line-height: 1.5;
}

.slide.active {
    display: block;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-sesion {
    width: 200px;
    background: #dcfeff;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
}

/* barra de navegacion */
.barra {
    margin: 10px;
    outline: 2px solid black;
    background-color: rgb(255, 255, 255);
}

.white {
    color: white;
}

.imguser {
    height: 80px;
    width: 80px;
}

.MBD {
    margin-left: 115px;
}

.MBI {
    margin-left: 70px;
}

.imgMTV {
    height: 100px;
    width: 310px;
}

.li {
    height: 120px;
    display: flex;
    width: 197px;
}

.bgestion {
    display: flex;
    width: 197px;
}


.lia {
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.3s ease;
}


.lia:hover {
    background-color: #7b7b7b;
    color: white;
}

.containerf {
    max-width: 1450px;
    background: #f3f3f3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

td {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 380px;
}

